


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: darkviolet;
  color: white;
}
body{

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;



}