<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
     <form action="/second/total">
     <label>Mobiles</label>
     <input type="text" id="mobiles" name="mobiles" placeholder="Enter ur Mobile Price"><br><br>
     <label>Laptop</label>
     <input type="text" id="laptop" name="laptop" placeholder="Enter ur Laptop Price"><br><br>
     <label>Keyboard</label>
     <input type="text" id="keyboard" name="keyboard" placeholder="Enter ur Keyboard Price"><br><br>
     <label>Tablet</label>
     <input type="text" id="tablet" name="tablet" placeholder="Enter ur Tablet Price"><br><br>
     <label>Harddisk</label>
     <input type="text" id="harddisk" name="harddisk" placeholder="Enter ur harddisk Price"><br>
      <input type="submit">
     </form>
</body>
</html>